web/WEB-INF/wsdl/localhost_8080/shorturl/SoapURL.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.shorturl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.shorturl/">

<xs:element name="crearUsuario" type="tns:crearUsuario"/>

<xs:element name="crearUsuarioResponse" type="tns:crearUsuarioResponse"/>

<xs:element name="createURL" type="tns:createURL"/>

<xs:element name="createURLResponse" type="tns:createURLResponse"/>

<xs:element name="getURLvisits" type="tns:getURLvisits"/>

<xs:element name="getURLvisitsResponse" type="tns:getURLvisitsResponse"/>

<xs:element name="validateLogin" type="tns:validateLogin"/>

<xs:element name="validateLoginResponse" type="tns:validateLoginResponse"/>

<xs:complexType name="getURLvisits">
<xs:sequence>
<xs:element name="url" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getURLvisitsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateLogin">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createURL">
<xs:sequence>
<xs:element name="url" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createURLResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearUsuario">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>