src/java/META-INF/SoapURL.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.shorturl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.shorturl/" name="SoapURL">
<types>
<xsd:schema>
<xsd:import namespace="http://services.shorturl/" schemaLocation="http://localhost:8080/shorturl/SoapURL?xsd=1"/>
</xsd:schema>
</types>
<message name="createURL">
<part name="parameters" element="tns:createURL"/>
</message>
<message name="createURLResponse">
<part name="parameters" element="tns:createURLResponse"/>
</message>
<message name="crearUsuario">
<part name="parameters" element="tns:crearUsuario"/>
</message>
<message name="crearUsuarioResponse">
<part name="parameters" element="tns:crearUsuarioResponse"/>
</message>
<message name="getURLvisits">
<part name="parameters" element="tns:getURLvisits"/>
</message>
<message name="getURLvisitsResponse">
<part name="parameters" element="tns:getURLvisitsResponse"/>
</message>
<message name="validateLogin">
<part name="parameters" element="tns:validateLogin"/>
</message>
<message name="validateLoginResponse">
<part name="parameters" element="tns:validateLoginResponse"/>
</message>
<portType name="SoapURL">
<operation name="createURL">
<input wsam:Action="http://services.shorturl/SoapURL/createURLRequest" message="tns:createURL"/>
<output wsam:Action="http://services.shorturl/SoapURL/createURLResponse" message="tns:createURLResponse"/>
</operation>
<operation name="crearUsuario">
<input wsam:Action="http://services.shorturl/SoapURL/crearUsuarioRequest" message="tns:crearUsuario"/>
<output wsam:Action="http://services.shorturl/SoapURL/crearUsuarioResponse" message="tns:crearUsuarioResponse"/>
</operation>
<operation name="getURLvisits">
<input wsam:Action="http://services.shorturl/SoapURL/getURLvisitsRequest" message="tns:getURLvisits"/>
<output wsam:Action="http://services.shorturl/SoapURL/getURLvisitsResponse" message="tns:getURLvisitsResponse"/>
</operation>
<operation name="validateLogin">
<input wsam:Action="http://services.shorturl/SoapURL/validateLoginRequest" message="tns:validateLogin"/>
<output wsam:Action="http://services.shorturl/SoapURL/validateLoginResponse" message="tns:validateLoginResponse"/>
</operation>
</portType>
<binding name="SoapURLPortBinding" type="tns:SoapURL">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createURL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getURLvisits">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SoapURL">
<port name="SoapURLPort" binding="tns:SoapURLPortBinding">
<soap:address location="http://localhost:8080/shorturl/SoapURL"/>
</port>
</service>
</definitions>